.grid {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  background-color: pink;
}

.chrome {
  width: 4%;
}

.button {
  width: 200px;
  color: purple;
  font-size: 150%;
  background: pink;
  border: 3px solid purple;
  border-radius: 5px;
  position: relative;
  left: 85%;
  cursor: pointer;
}

.button:hover {
  background-color: purple;
  color: pink;
}

.card {
  background: pink;
  width: 210.7px;
  padding: 10px;
  margin: 40px;
  transition: 0.5s;
}

.card:hover {
  background-color: purple;
}

.avatar {
  width: 207px;
}

.loader {
  color: purple;
  left: 45vw;
  top: 45vh;
}
